@import './styles/variables.scss';

/* You can add global styles to this file, and also import other style files */

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: $app-background-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
