<br>
<app-slides></app-slides>
<div class="displayed">
  <div class="align">
    <img src="../../assets/img/sidaInfoService.jpg">
      <p> Toutes les réponses à vos questions les plus fréquentes ! Prévention, dépistage, transmission, symptômes, etc., découvrez toutes les réponses aux questions que vous vous posez sur notre FAQ.</p>
  </div>

  <div class="align">
    <p>Lorsqu’il s’agit de choisir une méthode de contraception, prendre une décision n’est pas toujours évident : parce qu’elles sont nombreuses, et parce qu’il n’y a pas de règle d’or.</p>
    <img src="../../assets/img/sexualiteInfoSante.png">
  </div>

</div>
