<div class="background">
    <div id=logo>
      <a [routerLink]="['/home']"> <img alt="Bouton pour accéder à la page d'accueil" id="home" src="../../assets/img/home.png"></a>
      <img alt="Logo du site internet" id=picLogo src="../../assets/img/logo.png">

      <div class="nav">
        <ul class="nav__list">
          <a [routerLink]="['/home']"><li class="nav__listitem">Home</li></a>
          <li class="nav__listitem">Jeux
            <ul class="nav__listitemdrop">
              <a [routerLink]="['/games']"><li>Serious Games</li></a>
              <a [routerLink]="['/games']"><li>Informations</li></a>
            </ul>
          </li>
          <a [routerLink]="['/home']"><li class="nav__listitem">Informations</li></a>
        </ul>
      </div>
    </div>
</div>
